<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Management System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/main}">Student Management</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page">Teachers</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<br>

    <div class="container">
        <div class="row">
            <h1> List Teacher </h1>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <a th:href="@{/teachers/new}" class="btn btn-primary btn-sm mb-3"> Add Teacher </a>
            </div>
        </div>

        <table class="table table-striped table-bordered">
            <thead class="table-dark">
                <tr class="text-center">
                    <th> Teacher First Name </th>
                    <th> Teacher Last Name </th>
                    <th> Teacher Email </th>
                    <th> Teacher Subject </th>
                    <th> Actions </th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="teacher: ${teachers}">
                    <td th:text="${teacher.firstName}"></td>
                    <td th:text="${teacher.lastName}"></td>
                    <td th:text="${teacher.email}"></td>
                    <td th:text="${teacher.subject}"></td>
                    <td class="text-center">
                        <a th:href="@{/teachers/edit/{id}(id=${teacher.id})}" class="btn btn-primary"> Update </a>
                        <a th:href="@{/teachers/{id}(id=${teacher.id})}" class="btn btn-danger"> Delete </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>